= form_for @lens do |f|
  - if @lens.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lens.errors.count, "error")} prohibited this len from being saved:"
      %ul
        - @lens.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success'