%h1 Listing lenses

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @lenses.each do |lens|
    %tr
      %td= lens.name
      %td= link_to 'Show', lens
      %td= link_to 'Edit', edit_len_path(lens)
      %td= link_to 'Destroy', lens, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lens', new_len_path