= form_for @cam do |f|
  - if @cam.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cam.errors.count, "error")} prohibited this cam from being saved:"
      %ul
        - @cam.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-success'