%h1 Listing photos

%table
  %tr
    %th Name
    %th Description
    %th Position
    %th Views
    %th Cam
    %th Lens
    %th Iso
    %th Aperture
    %th Exposure
    %th Focal distance
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.name
      %td= photo.description
      %td= photo.position
      %td= photo.views
      %td= photo.cam
      %td= photo.lens
      %td= photo.iso
      %td= photo.aperture
      %td= photo.exposure
      %td= photo.focal_distance
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Photo', new_photo_path
