%h1 Listing photos

%table.table{'data-sort-url' => sort_photos_path}
  - @photos.each do |photo|
    %tr{'data-id' => photo.id}
      %td.ncol
        - if photo.name.present?
          = photo.name
        - else
          %span.label.label-warning No name
      / %td= photo.description
      / %td= photo.views
      %td
        - if photo.album.present?
          = photo.album.name
        - else
          %span.label.label-warning No album
      %td= photo.cam.name if photo.cam.present?
      %td= photo.lens.name if photo.lens.present?
      %td
        - if photo.iso != 0
          = "ISO #{photo.iso}"
        - else
          %span.label.label-warning ISO 0
      %td
        - if photo.aperture != 0
          = "f#{photo.aperture}"
        - else
          %span.label.label-warning f0
      %td
        - if photo.exposure.present?
          = "#{photo.exposure}s"
        - else
          %span.label.label-warning 0s
      %td
        - if photo.focal_distance != 0
          = "#{photo.focal_distance}mm"
        - else
          %span.label.label-warning 0mm
      %td
        - if photo.date.present?
          = photo.date
        - else
          %span.label.label-warning No date
      %td
        - if photo.facebook_id.present?
          = link_to 'FB', "https://www.facebook.com/photo.php?fbid=#{photo.facebook_id}", target: '_blank', class: 'btn btn-xs btn-info'
        - else
          = link_to 'Publish', publish_on_facebook_photo_path(photo), class: 'btn btn-xs btn-success'
      %td.icol= image_tag photo.image.url :preview
      %td.acol
        %span.btn.btn-xs.btn-default
          %span.glyphicon.glyphicon-sort
        = link_to 'Edit', edit_photo_path(photo), class: 'btn btn-xs btn-primary'
        = link_to 'Destroy', photo, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-xs btn-danger'
        %hr.shr
        - if photo.facebook_id.present?
          %i.fa.fa-thumbs-up
          .sm= photo.likes
          %i.fa.fa-comments
          .sm= photo.comments
          = link_to '<i class="fa fa-refresh"></i>'.html_safe, refresh_from_facebook_photo_path(photo), class: 'btn btn-xs btn-info'

= link_to 'New Photo', new_photo_path, class: 'btn btn-success'
