%p#notice= notice

%p
  %b Name:
  = @photo.name
%p
  %b Description:
  = @photo.description
%p
  %b Position:
  = @photo.position
%p
  %b Views:
  = @photo.views
%p
  %b Cam:
  = @photo.cam
%p
  %b Lens:
  = @photo.lens
%p
  %b Iso:
  = @photo.iso
%p
  %b Aperture:
  = @photo.aperture
%p
  %b Exposure:
  = @photo.exposure
%p
  %b Focal distance:
  = @photo.focal_distance

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
