!!!
%html
  %head
    %title PhotoPortfolio
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'admin', 'data-turbolinks-track' => false
    = csrf_meta_tags
  %body
    = render partial: 'admin/top_menu' if signed_in?
    .container.main
      - if notice.present?
        %div.alert.alert-success= notice
      - if alert.present?
        %div.alert.alert-danger= alert
      = yield